/*
Baseline
*/
body{
  font-family:'Fenix';
  color: white;
  margin: 0 !important;
  width:100%;
  background-color:#1c2f2f;
  font-size:20px;
}
.container-fluid{
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#aboutBar{
  position:fixed;
  bottom:0;
  left:0;
  z-index: 4;
}
.col-sm-1{
  width:0;
}

.row{

}
/*
Div pages
*/
#home{
  background:url("images/background.png") no-repeat center center fixed;
  width:100vw;
  height:100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}
#contact, #portfolio{
  background-color:#1c2f2f;
  text-align: center;
  width:100vw;
  height:100vh;
}
#portfolioName{
  text-align: left;
  letter-spacing: 4px;
  margin-left:1em;
}
#about{
  background:url('images/aboutme.png') no-repeat center center fixed;
  font-size:16px;
  width:0%;
  height:0;
}
footer{
    position:fixed;
    bottom:0;
    left:0;
    z-index:3;
    height:2em;
    width:100%;
}
#downArrow{
  position:fixed;
  bottom:0;
  left:45vw;
}

#aboutText{
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  transform: rotate(-90deg);
  z-index: 5;
  position:fixed;
  top:50vh;
  float:left;
}

/*
Responsive Web Design
*/
@media(max-width:768px){
    .mobilesOnly{
        display: inline;
    }
    .desktopsOnly{
        display: none;
    }
    #aboutText{
      transform:rotate(0deg);
      top:.5em;
      left:45vw;
      z-index:2;
      font-weight:bold;
      opacity:1;
    }
    #aboutBar{
      height:2em;
      background-color:#1c2f2f;
      width:130%;
      position:fixed;
      z-index: 3;
      opacity: 1;
    }
    .titleName{
      padding-top:10px;
    }
    #portfolioName{
      text-align: center;
      margin-left: 0px;
    }
}
@media(min-width:768px) {
    .desktopsOnly {
        display: inline;
    }
    .mobilesOnly{
        display: none;
    }
}
/*
Special formatting, prompts, ect
*/
.titleName{
  font-size: 70px;
  letter-spacing: 4px;
  position:relative;
  top:50%;
}

#software{
  font-size:18px;
}

#phone, #email{
  font-size:20px;
}
#contact .icon{
  font-size: 40px;
  padding: 7px 7px;
}

#home .icon{
  font-size: 28px;
  padding: 12px 12px;
}
/* HTML Links */
a:link{
  color:white;
  background-color: transparent;
  text-decoration: none;
}
a:visited{
  color:white;
  background-color: transparent;
  text-decoration: underline
}
ul{
  text-decoration: none;
  list-style-type: none;
}
.center{
  position:relative;
  top:25%;
}

